@import url(./__bar/two-lines__bar.css);

@media screen and (max-width: 670px) {
  .two-lines {
    display: inline-block;
    text-align: right;
    height: 10px;
    margin-left: calc(100% - 25px);
  }
}
