.popup__button {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  color: white;
  background: #2f71e5;
  border: none;
  outline: none;
}

.popup__button:hover {
  outline: none;
  background: #347eff;
  border: 2px solid #347eff;
}
.popup__button:active {
  outline: none;
  border: 2px solid #2a65cc;
  background: #2a65cc;
}
