.popup__button {
  display: block;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 8px;
  color: white;
  background: #2F71E5;
  border: none;
  outline: none;
}


.popup__button:hover {
  outline: none;
  background: #347EFF;
  border: 2px solid #347EFF;

}
.popup__button:active {
  outline: none;
  border: 2px solid #2A65CC;
  background: #2A65CC;
}