@import url(./__title/search-result__title.css);
@import url(./__card-zone/search-result__card-zone.css);
@import url(./__show-more-button/news-card__show-more-button.css);
@import url(./_hidden/search-result_hidden.css);

.search-result {
  position: relative;
  padding-top: 80px;
  background: #f5f6f7;
  padding-bottom: 25px;
  width: 100%;
}
