@import url(./__image/news-card__image.css);
@import url(./__date/news-card__date.css);
@import url(./__content/news-card__content.css);
@import url(./__name/news-card__name.css);
@import url(./__save-icon/news-card__save-icon.css);
@import url(./__source/news-card__source.css);
@import url(./__text/news-card__text.css);
@import url(./__icon-svg/news-card__icon-svg.css);
@import url(./__pop-up-line/news-card__pop-up-line.css);

.news-card{
  background-color: #fff;
  border-radius: 10px;
  min-height: 576px;

  cursor: url('../../images/lapka.png'), pointer;

  margin-bottom: 16px;
  margin-top: 24px;
  margin-right: 16px;
  width: 400px;


}

.news-card:hover{
  box-shadow: 0 60px 58px -60px rgba(8, 29, 45, 0.1);
}
.news-card:nth-child(3){
  margin-right: 0;
}