@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);
@import url(../../blocks/preloader/preloader.css);
@import url(../../blocks/title/title.css);
@import url(../../blocks/text/text.css);
@import url(../../blocks/search-main/search-main.css);
@import url(../../blocks/not-found/not-found.css);
@import url(../../blocks/search-preloader/search-preloader.css);
@import url(../../blocks/button/button.css);
@import url(../../blocks/logo/logo.css);
@import url(../../blocks/link/link.css);
@import url(../../blocks/popup/popup.css);
@import url(../../blocks/header/header.css);
@import url(../../blocks/search/search.css);
@import url(../../blocks/search-result/search-result.css);
@import url(../../blocks/news-card/news-card.css);
@import url(../../blocks/about-author/about-author.css);
@import url(../../blocks/footer/footer.css);

/* @import url(../blocks/profile/profile.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/button/__active/button__active.css); */
@import url(../../blocks/error/error.css);


*{
  /* border: 1px solid red; */
}

.page{
  font-family: 'Inter', 'Roboto Slab', 'Sourcesanspro', 'sans-serif', 'Roboto';
  min-width: 320px;

  /* scrollbar-width: none; */
}
/*
body::-webkit-scrollbar{
    width: 0px;
} */
