@import url("./_hidden/search__title_hidden.css");

.search__title {
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
  margin-bottom: 32px;
  margin-top: 80px;
  color: white;
}

@media screen and (max-width: 600px) {
  .search__title {
    margin-top: 30px;
    font-size: 36px;
    line-height: 40px;
    width: 70%;
    align-self: flex-start;
  }
}
