.popup__content_successful-registration{
  width: 430px;
  min-height: 330px;
  top: 65px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: min-content;
  min-height: min-content;

}

@media screen and (max-width: 600px) {
  .popup__content_successful-registration{
    width: 100%;
    border-radius: 16px;

  }
}

@media screen and (max-width: 500px) {
  .popup__content_successful-registration{
    margin: 0;
  }
}