.articles-info__text{

  min-width: 180px;
  color: rgba(26, 27, 34, 0.5);
  width: calc(100% - 144px);
  margin: 40px auto 28px auto;

}
@media screen and (max-width: 700px){
  .articles-info__text{
    width: 100%
  }
}