.popup__content {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
}
@media screen and (max-width: 1024px) {
  .popup__content {
    top: 65px;

  }
}


@media screen and (max-width: 600px) {
  .popup__content {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    border-radius: 16px 16px 0 0;

  }
}

@media screen and (max-width: 500px) {
  .popup__content {
    margin: 0;
  }
}
