.logo{
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 30px 0px 26px 0;

  color: white;
}

/* @media screen and (min-width:  1024px) and (max-width: 1279px) {
    .header__logo{
        margin-left: 48px;
    }
}
@media screen and (min-width:  768px) and (max-width: 1023px) {
    .header__logo{
        margin-left: 24px;
    }
}
@media screen and (max-width: 767px) and (min-width: 376px){
    .header__logo{
        margin-left: 11px;
        max-width: 142px;

}}

@media screen and (max-width: 375px) {
    .header__logo{
        margin-left: 16px;
        max-width: 142px;
    }} */