@import url(./_first/two-lines__bar_first.css);
@import url(./_second/two-lines__bar_second.css);
@import url(./_black/two-lines__bar_black.css);
@import url(./_white/two-lines__bar_white.css);

@media screen and (max-width: 600px){

.two-lines__bar{
  width: 16px;
  height: 2px;
  transition: .4s;


}
  }
