.news-card__key-word{
  position: absolute;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  padding: 8px 12px;
  top: 24px;
  left: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;


}

/* @media screen and (max-width: 930px) and (min-width: 807px){
  .news-card__key-word{
    line-height: 20px;
  }
}

@media screen and (max-width: 1000px){
  .news-card__key-word{
    line-height: 24px;
  }
} */

@media screen and (max-width: 930px) and (min-width: 807px){
  .news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
    /* transform: translate(28%, 106%); */
    font-size: 9px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 760px){
  .news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
    /* transform: translate(28%, 106%); */
    font-size: 9px;

  }
}

@media screen and (max-width: 760px) and (min-width: 501px){
  .news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
    /* transform: translate(28%, 106%); */
    font-size: 7px;

  }
 }

 @media screen and (max-width: 500px) {
  .news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
    /* transform: translate(28%, 106%); */
    font-size: 7px;
     }
 }