.news-card__pop-up-line{
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  padding: 10px 10px 11px 10px;
  top: 24px;
  right: 60px;

  opacity: 0;
  visibility: hidden;

  transform: translateX(5%);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  }

  @media screen and (max-width: 930px) and (min-width: 807px){
    .news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
      transform: translate(28%, 106%);
    }
  }

  @media screen and (max-width: 806px) and (min-width: 760px){
    .news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
      transform: translate(28%, 106%);
    }
  }

  @media screen and (max-width: 605px) and (min-width: 501px){
    .news-card__icon-svg:hover, .news-card__save-icon:hover + .news-card__pop-up-line{
      transform: translate(28%, 106%);
    }
  }








  .news-card__icon-svg:hover, .news-card__save-icon:hover{
    transform: none;

    }

