.footer__social-links{
  display: flex;
  align-items: center;
}



  @media screen and (max-width: 370px) {
      .footer__social-links{
        align-self: stretch;
        margin-bottom: 25px;
        justify-content: flex-end;
        width: calc(50% - 25px);
      }
  }