.header__link-saved{

  margin-right: 32px;
  min-width: 180px;
  color: #B6BCBF;



}


@media screen and (max-width: 600px) {
  .header__link-saved{
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 311%;
    width: 100%;
    margin-left: 1%;
  }
}